:root {
  --page-margin: 1em;
  --spacer-height: 0.5em;
}

/*Remove default margin on body. Set a font.*/
body {
  margin: 0;
  padding: 0;
  font: 15px Arial, Verdana, sans-serif;
}

#page-container {
  /* Margin around the whole page*/
  margin: var(--page-margin);
}

div#qgmv-old-plan-warning {
  background: #fff242;
  border: 2px solid grey;
  padding: 10px;
  margin-bottom: var(--spacer-height);
}

div#qgmv-no-plan-warning {
  background: #ffcc00;
  border: 3px solid red;
  padding: 10px;
  font-size: 1.5em;
  margin-bottom: var(--spacer-height);
}

.qgmv-no-data {
  font-size: 1.5em;
  border: 2px solid grey;
  padding: 10px;
}

#days-container {
  /* Flex container so that day1 and day2 align themselves correctly on the left and right of the page*/
  display: flex;
  justify-content: space-between;
}

/*
  Elements of a day/plan
*/

div.qgmv-header {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.25em;
  margin-bottom: var(--spacer-height);
  background: white;
}

div.qgmv-abw {
  margin-bottom: var(--spacer-height);
}

div.qgmv-bibe {
  /* Will be displayed by java script if there is a please regard (bitte beachten) in that plan. */
  background: #ffe4e3;
  border: 1px solid red;
  padding: 6px;
  margin-bottom: var(--spacer-height);
}

/*
  Elements of the header of a day
*/

div.day-heading {
  font-size: 1.5em;
  font-weight: bold;
}

div.qgmv-vinfo {
  text-align: right;
  font-size: 0.8em;
  color: #999;
}

div.qgmv-ortinfo {
  text-align: left;
  font-size: 0.8em;
  color: #999;
  float: left;
}

/*
  Elements inside the teacher information (absent teachers, missing rooms, ...)
*/

span.qgmv-abw-title {
  font-weight: bold;
}

/*
  Styling of the actual tables
*/

table.qgmv-table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

div.qgmv-plantable {
  /* Changed to overflow-y: hidden so that scroll bars are not displayed */
  overflow-y: hidden;
}

td, th {
  padding: 0.2em;
}

th {
  text-align: left;
}

tr {
  border-top: 1px solid #aaaaaa;
}

.qgmv-vdurch {
  /* Gives the "vertr. durch" column a preset width so that teacher's names do not get broken, that would be ugly.*/
  width: 10em;
}

tr:nth-child(odd of .qgmv-substrow) {
  background-color: #e0e0e0;
}

.qgmv-newrow {
  /* Highlighter for new rows. */
  background-color: #d5bbeb;
}

tr.qgmv-newrow:nth-child(odd of .qgmv-newrow) {
  /* Highlighter for new rows, but a bit darker if it is an odd row.*/
  background-color: #b7a1ca;
}

.qgmv-graderow {
  width: 100%;
  font-weight: bold;
  background-color: #FFE273;
}

span.qgmvaktuell {
  background: yellow;
  padding: 0.1em;
  border-radius: 0.3em;
  font-size: 0.7em;
  float: right;
}

.qgmvgreen::before {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.3em;
  background-color: #00bf00;
}

.qgmvorange::before {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.3em;
  background-color: #ffa100;
}

.qgmvred::before {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.3em;
  background-color: #d70000;
}